.freind-kakaotalk-scroll {
  background-image: url("https://i.pinimg.com/originals/06/5d/e6/065de6fd86a17eca9b9f27170ea794f3.png");
  background-repeat: round;
  background-size: contain;
}

#friends-display-link {
  background-color: rgba(121, 121, 121, 0.07);
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 100px;
}

#friends-screen__main {
  margin-top: 10px;
}

.friends-screen {
  padding: var(--horizontal-space);
  margin-top: 100px;
}

.friends-screen__channel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--lightgray-line);
  margin: 10px 0px;
  padding-top: 10px;
}

.user-component__column h4 {
  font-family: var(--korean-font);
}

.friends-text {
  font-size: 20px;
  font-weight: 300;
}
