#kakaotalk {
  height: 100vh;
}

.welcome-header {
  margin: 70px 0;
  text-align: center;
}

.welcome-header__title {
  font-family: var(--extra-font);
  font-size: 25px;
  margin-bottom: 20px;
}

.logIn-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.logIn-form input {
  border: none;
  padding: 20px 0;
  font-family: var(--main-font);
  font-size: 18px;
  border-bottom: var(--lightgray-line);
}

.logIn-form input:nth-child(3) {
  margin-top: 30px;
  margin-bottom: 15px;
  border-bottom: none;
  background-color: var(--yellow);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.logIn-form input:nth-child(4) {
  border-bottom: none;
  margin-bottom: 25px;
  background-color: var(--yellow);
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.logIn-form a {
  text-align: center;
  font-size: 13px;
}

input[type="submit"]:hover {
  color: white;
  background-color: var(--red);
  cursor: pointer;
}
